/***** Base Styles *****/

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  background: #FFDF80;
  color: #111;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

main {
  flex: 1;
  margin: 1em;
}

details {
  border-radius: 3px;
  padding-left: 0.2em;
  padding-right: 0.2em;
}

#song_display {
  background-color: FF9F80;
}

header,
nav {
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  opacity: 0.5;
}

a:visited {
  color: inherit;
}

ul {
  list-style: none;
}

nav ul {
  display: flex;
}
nav ul,
nav ul li {
  margin: 0;
  padding: 0;
  justify-content: flex-end;
}
