h1:before,
h1:after {
  content: "\266A";
  padding-left: 0.25em;
  padding-right: 0.25em;
  color: red;
}

h1:hover {
  opacity: 0.5;
}

input,
.tab-content p {
  font-size: 1.0em;
}

input {
  width: 75vw;
  margin: 0 auto;
}

button {
  color: inherit;
  background-color: #fff;
  border-radius: 3px;
  font-size: 0.9em;
  border: 1px solid #000;
  width: 5em;
  margin: 0.5em auto;
}

button:active {
  background-color: #ccc;
  color: #fff;
  border-color: #fff;
}

.button-span {
  margin-left: 2em;
  font-size: 0.7em;
  font-family: 'Droid Sans Mono', monospace;
}

.add-button,
.minus-button {
  font-size: 1em;
  width: 2em;
}

#song_display details[open] {
  background-color: #FFC105;
  border: 1px solid #000000;
}
.song-dtls-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.song-album-cover {
  max-height: 25vw;
  margin-left: .8em;
  margin-top: .8em;
  margin-bottom: .8em;
}
.audio {
  margin-left: .8em;
  margin-bottom: .8em;
}

audio{
  width: 12em;
}

#itunes {
  margin-top: 0px;
  font-size: .8em;
}

.artist {
  font-size: 1.5em;
}

a.artist:hover{
  cursor: pointer;
}

.song-details {
  font-size: 2em;
}

.authors img {
  width: 200px;
  max-width: 100%;
}

/***** Media Queries *****/
@media only screen and (min-width: 617px) {
  #about {
    flex-direction: row;
  }

  .authors {
    flex: 1;
    border: 1px solid black;
    padding: 0.2em;
  }

  .authors img {
    max-width: 90%;
  }
  #itunes {
    margin-top: 0px;
  }

  audio{
    width: 16em;
  }

  .artist {
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 720px) {

  header,
  footer {
    max-width: 800px;
  }

  input {
    max-width: 640px;
  }

  h1 {
    font-size: 2.8em;
  }

  nav ul {
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
  }

  main {
    max-width: 800px;
  }

  #about {
    max-width: 90vw;
  }

  .authors {
    display: inline-block;
    width: 20vw;
    margin-right: 8px;
  }

  .authors img {
    max-width: 15vw;
  }
  .audio {
    margin-left: 2.8em;
  }
  .song-album-cover {
    max-height: 20vw;
  }
  .song-details {
    font-size: 1em;
  }

  #itunes {
    margin-top: 0px;
  }

  audio{
    width: 21em;
  }

  .artist {
    font-size: 1.5em;
  }
}
